body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icon {
    cursor: pointer;
}

.sidebar {
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100%;
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    background-color: #fff; /* Change background color of main content here */
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
}
img{
    height: 50px;
    width: 50px;
}
svg path {
    stroke: white;
    stroke-width: 2; /* Optional: Adjust the width of the stroke */
}
