/* *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
} */

/* body {
  font-family: sans-serif;
} */
.header {
  background: linear-gradient(175deg, #f8f9fa, #f1f3f5, #edf2ff);
}
.header-wrap {
  
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 1540px;
  padding: 0 32px;
  margin: 0 auto;
  height: 72px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 14px;
}

.header-text-box {
  display: flex;
  gap: 48px;
  align-items: center;
}

a.main-logo.link {
  font-size: 24px;
  color: #080a19;
}

.close-btn {
  display: none;
}

.gap--sm {
  gap: 8px;
}

.link:link,
.link:visited {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1.2;
  color: #080a19;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: #43cc8c;
}

.btn:link,
.btn:visited {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-family: inherit;
  color: #fff;
  font-weight: 500;
  /* yoh aniamation hai easein out */
  transition: all 0.3s ease-in-out;
}
/* yoh border color button */
.btn.btn--outline {
  color: #33a872;
  border: 1px solid #4ce68a;
}
/* yoh  full s color button */

.btn--full {
  background-color: #58d19f;
  color: #fff;
}
.btn--full:hover {
  background-color: #40f08a;
}
.btn--outline:hover {
  background-color: #dde0ff;
}

.header-menu-wrap {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 42px;
  display: none;
  cursor: pointer;
}

.link.main-logo-wrap {
  font-size: 22px;
  text-decoration: none;
  font-weight: 600;
  color: #5665;
  /* letter spacing for nice looks */
  letter-spacing: 0.7px;
}
.cart--logo{
  font-size: 25px ;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.cart--logo a{
  text-decoration: none;
}

.sidebar {
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  right: -20%; /* Initially hide the sidebar off-screen */
  width: 20%;
  height: 100%;
  transition: right 0.3s ease-in-out; /* Add transition for smooth sliding effect */
  z-index: 999;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}



