@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap);

.reg--body {
    font-family: "Trirong", serif;
    display: flex;
    justify-content: center;
    background-color: #FFAC1C;
    background-size: cover;
}



.main--section .user--reg {
    margin: 0;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.para {
    text-align: center;
    margin: 10px 0px 50px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    background: white;

}

.main--section label,
input {
    margin: 20px;
}

.user-register {
    padding: 8px;
    border-color: blueviolet;
    font-size: 2vh;
    border-radius: 10px;
    margin: 3px;
    width: 50vh;
}

.user-lbl {
    width: 130px;
    display: inline-flex;
    color: black;
    font-weight: bold;
}

.submit {
    margin-top: 50px;
    margin-bottom: 0;
    height: 5vh;
    width: 15vh;
    cursor: pointer;
    display: flex;
    background-color: #7CFC00;
    color: white;
    border: none;
    justify-content: center;
}

.login--redirect {
    text-align: center;
}

.sign--up--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .reg--body {
        background-color: lightgreen;
        font-family: "Trirong", serif;
        display: flex;
        justify-content: center;
        background-size: cover;
    }
}